// el-tabs
.el-tabs {
  height: 100%
}

.el-tabs__nav-wrap {
  display: inline-block;
  padding: 0 12px;
  border-radius: 10px;
  background-color: get('fill-color', 'light');

  &::after {
    background: none !important;
  }

  .el-tabs__active-bar {
    height: 3px;
  }
}

// el-loading
.el-loading-mask {
  background: none !important;
}

// el-drawer
.el-drawer {
  top: 56px !important;
  height: auto !important;
  border-top-left-radius: 12px;

  @include xs() {
    width: 100% !important;
    border-top-right-radius: 12px;
  }
}
