$prefix: 'el';

@mixin md() {
  @media (min-width: 960px) and (max-width: 1280px) {
    @content;
  }
}

@mixin sm() {
  @media (min-width: 640px) and (max-width: 960px) {
    @content;
  }
}

@mixin xs() {
  @media (max-width: 640px) {
    @content;
  }
}

@function join($list, $separator: '-') {
  $result: $prefix + $separator;
  $len: length($list);

  @for $i from 1 through $len {
    $item: nth($list, $i);
    $result: $result + $item;

    @if $i < $len and $item != '' {
      $result: $result + $separator;
    }
  }
  @return $result;
}

@function get($val, $levels: null) {
  $len: length($levels);
  $result: '';

  @for $i from 1 through $len {
    $item: nth($levels, $i);
    $result: $result + var(--#{join(if($item == null, $val, $val $item))});

    @if $i < $len {
      $result: $result + ' ';
    }
  }
  @return #{$result};
}
